<%
 style = "z-index: #{ e.depth };"
 style += "left: #{ e.location_x.to_int }px;" if e.location_x 
 style += "top: #{ e.location_y.to_int }px;" if e.location_y 
 style += "width:#{e.width}px;" if e.width
 style += "height:#{e.height}px;" if e.height
 
 klass = e.types
 klass += (e.events.map{|ev| ev.name} & [:at_click,:at_dbl_click, :at_touchstart, :at_touchend])
 
%>
<%= content_tag :div, id: e.id, name: e.name, :class => klass, style: style do %>
	<div class="entity_container">
		<% e.types.reverse.each do |t| 
			begin 
				%><%= render "main/#{ t }", e: e %><%	 
			rescue ActionView::MissingTemplate
				next 
			else 
				break 
			end  
		end 
	%></div>
<% end %>



