<a href="http://www.accuweather.com/en/ua/kyiv/324505/weather-forecast/324505" class="aw-widget-legal"> <!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
--> </a>
<div id="awcc1421975915680" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1421975915680">
</div>
<script src="http://oap.accuweather.com/launch.js"/>
