/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.preformatted {
  font-family: monospace;
  white-space: pre;
}

table.drivers {
  max-width: 800px;

  tbody {

    td{
      vertical-align: top;
    }
    tr {
      &:hover, &.selected {
        color: white;
        background-color: #111;
      }
    }

    .driver-name {
      white-space: nowrap;
    }

  }

}
