// Place all the styles related to the Entities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.class_count {
  color: yellow;
}

table.entities {

  .disabled, .hidden{
    color: #999;
    text-shadow: 1px 1px 0px #000;
  }

  td{
    white-space: nowrap;

    .actions {
      display: none;
    }

    .actions:hover + span {
      display: block;
    }

  }

  tr{
    cursor: pointer;
    &:hover, &.selected {
      color: white;
      background-color: #111;
    }
  }

  .job{
    color: #cfc;
  }

  .job.error{color:red}

}

.edit_entity, .new_entity{
  textarea{
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
  };

  .method{
    cursor: pointer;
    display: inline-block;
    color: yellow;
  };

  .inputs{
    vertical-align: top;

    .main_inputs{
      display:inline-block;
      padding-right: 50px;
    }

    .behavior_inputs{
      display:inline-block; vertical-align: top;

      #editor{
        max-width:600px; height: 300px;
      }
    }

  }


}

