// Place all the styles related to the Entities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.class_count {
  color: yellow;
}

table.entities {
  .disabled{
    color: #999999;
  }
  td{white-space: nowrap;}
  tr{
    cursor: pointer;
    &:hover {
      color: white;
      background-color: #111;
    }
  }
}

textarea{
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
};

.method{
  cursor: pointer;
  display: inline-block;
  color: yellow;
};

.job{
  color: #cfc;
}

.job.error{color:red}
