#input_container{
  .input_caption{
    height: 35px;
  }

  .duration_container{
    height: 30px;
    white-space: nowrap;
    width: 150px;

    .duration_element{
      display: inline-block;
      margin-right: 5px;
    }
  }

  .range_container{
    //height: 30px;
    //white-space: nowrap;
    .range_indicator{
      //width: 20px;
      //vertical-align: middle;
    }

    .range{
      min-width: 180px;
      //width: auto;
      //vertical-align: middle;
    }
  }
}
