#input_container{
  table{
    width: 100%;

    input{
      width: 100%;
    }

    tr{
      line-height: 28px;
    }

    .input_caption{
    }


    .range_container{
      height: 30px;
      .range_indicator{
        width: 20px;
        display: inline-block;
        vertical-align: middle;
      }

      .range{
        display: inline-block;
        min-width: 130px;
        width: auto;
        vertical-align: middle;
      }
    }
  }
}