<div id="flash_messages">
	<% flash.select{|key, value| value.present?}.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{key}" unless value.blank? %>
	<% end %>
</div>
